PORT=3000
WEB_ORIGIN=http://localhost:5173
DATABASE_HOST=localhost
DATABASE_PORT=6543
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=crypto_strategy_lab
JWT_ACCESS_SECRET=dev-access-secret-change-me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL_DAYS=30
