PORT=3000
WEB_ORIGIN=http://localhost:5173
DATABASE_HOST=localhost
DATABASE_PORT=6543
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=crypto_strategy_lab
JWT_ACCESS_SECRET=dev-access-secret-change-me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL_DAYS=30
REDIS_HOST=localhost
REDIS_PORT=6381
BINANCE_API_KEY=uTaD0jqEcDTbs1xXpZsou6tIcG8GZT8P8XlfTBApEuqxkScRyVzpceLNhL9hhGKV
BINANCE_SECRET_KEY=JpCjRU3TCdjOOYxpQUH7YQlONUIIDMRiDoeCUfNiQOFNsVzk2qdYwTloSj9co7i2
WS_API_URL=wss://ws-api.binance.com:443/ws-api/v3